@font-face{
    font-family: 'MyFont';
    src:url('./assets/fonts/WorkSans-VariableFont_wght.ttf')format('truetype');
}
body{
    font-family: 'MyFont';
    background-image:url('./assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: hsl(275, 100%, 97%);
    background-attachment: fixed;
}
.faqs{
    width:596px; 
    height:500px;
    
    
    border-radius: 25px;
    background-color: white;
    margin-top:90px;
    height:auto;
    margin-right: auto;
    margin-left:auto;
}
.heading{
    margin-top: 20px;
    font-size:40px;
    font-weight:700;
}
#image{
    margin-right:10px;
    margin-top: 20px;
}
.star-with-heading{
    display:flex;
    margin-left:25px;
    margin-bottom:15px;
}
.question-with-icon{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top:25px;
    padding-bottom:20px;
    margin-right:20px;  
    font-weight:600;
}
#last{
    border:0px solid black;
}
.question:hover{
    cursor: pointer;
    color:hsl(292, 42%, 14%);
}
.question:focus{
    border:1px solid hsl(292, 54%, 34%);
    border-radius: 25px;
}
.question-with-answer{
    border-bottom:2px solid hsl(275, 100%, 97%);
    margin-left:20px;
    margin-right:20px;
}
.plus{
    position: right;
}
.answer{
    font-size:16px;
    opacity: 0.6;
    display:none;
    padding-bottom:10px;
}
.attribution { 
    font-size: 15px; 
    position:fixed;
    bottom:0;
    left:45%;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}